{% extends 'base.html.twig' %}

{% block content %}
    <h1>Administration</h1>

    <div>
        <h2>Horaires d'ouverture et de fermeture</h2>
        <form action="{{ path('admin_save_hours') }}" method="post">
            <table>
                <tr>
                    <th>Jour</th>
                    <th>Heure d'ouverture - Matin</th>
                    <th>Heure de fermeture - Matin</th>
                    <th>Heure d'ouverture - Soir</th>
                    <th>Heure de fermeture - Soir</th>
                </tr>
                {% for day in days %}
                    <tr>
                        <td>{{ day }}</td>
                        <td>
                            <input type="time" name="opening_hours_morning[{{ day }}]" value="{{ openingHoursMorning[day] ?? '' }}">
                        </td>
                        <td>
                            <input type="time" name="closing_hours_morning[{{ day }}]" value="{{ closingHoursMorning[day] ?? '' }}">
                        </td>
                        <td>
                            <input type="time" name="opening_hours_evening[{{ day }}]" value="{{ openingHoursEvening[day] ?? '' }}">
                        </td>
                        <td>
                            <input type="time" name="closing_hours_evening[{{ day }}]" value="{{ closingHoursEvening[day] ?? '' }}">
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit">Enregistrer</button>
        </form>
    </div>

    <div>
        <h2>Nombre de places maximales</h2>
        <form action="{{ path('admin_save_max_capacity') }}" method="post">
            <label for="max_capacity">Nombre de places maximales :</label>
            <input type="number" id="max_capacity" name="max_capacity" value="{{ maxCapacity ?? '' }}" min="1">
            <button type="submit">Enregistrer</button>
        </form>
    </div>
{% endblock %}
