{% extends 'base.html.twig' %}

{% block body %}

    <div class="form-photo-center">
        <div class="form-container-photo">
            <div class="title-photoup">
                <h1>Uploader une nouvelle photo</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
                {{ form_start(form) }}

                <div class="form-row">
                    <div class="form-group">
                        <div class="form-row">
                            {{ form_label(form.customName, 'Nom de la photo :', {'label_attr': {'class': 'form-label col-md-3'}}) }}
                            <div class="col-md-9">
                                {{ form_widget(form.customName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-row">
                            {{ form_label(form.imageFile, 'Image à uploader :', {'label_attr': {'class': 'form-label col-md-3'}}) }}
                            <div class="col-md-9">
                                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <button type="submit" class="btn">Upload</button>
                </div>

                {{ form_end(form) }}
            </form>
        </div>
    </div>

{% endblock %}
