{% extends 'base.html.twig' %}

{% block body %}

    <div class="form-updateP-center">
        <div class="form-container-photoUpdate">
            <div class="title-photoUpdate">
                <h1>Update de la photo</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
                {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_label(form.customName, 'Nom de la photo :', {'label_attr': {'class': 'label-name'}}) }}
                        {{ form_widget(form.customName, {'attr': {'class': 'name-input'}}) }}
                        {{ form_label(form.imageFile, 'Image à upload :', {'label_attr': {'class': 'upload-label'}}) }}
                        {{ form_widget(form.imageFile, {'attr': {'class': 'upload-img'}}) }}


                        <button type="submit" class="btn">Update</button>
                    </div>
                </div>


                {{ form_end(form) }}
            </form>
        </div>
    </div>

{% endblock %}
