{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-reservation-center">
        <div class="form-container-reservation">
            <div class="title-reservation">
                <h1>Réservation</h1>
            </div>
            <p>Il reste {{ available_seats }} place(s) disponible(s) pour cette date et ce service.</p>
            {{ form_start(reservation_form) }}
            <div class="form-group">
                {{ form_label(reservation_form.name) }}
                {{ form_widget(reservation_form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(reservation_form.time, 'Heure :') }}
                {{ form_widget(reservation_form.time, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(reservation_form.time) }}
            </div>
            <div class="form-group">
                {{ form_label(reservation_form.number_of_seats) }}
                {{ form_widget(reservation_form.number_of_seats, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(reservation_form.number_of_seats) }}
            </div>


            <div class="form-group">
                {{ form_label(reservation_form.allergies) }}
                {{ form_widget(reservation_form.allergies, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_row(reservation_form._token) }}
            <div class="form-group">
                <input type="submit" value="Réserver" class="btn btn-primary">
            </div>
            {{ form_end(reservation_form) }}
        </div>
    </div>
{% endblock %}
