{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-content-center">
        <div class="form-container-sign">
            <h1>Inscrivez-vous</h1>

            {{ form_start(registrationForm) }}
            <div class="form-row">
                <div class="form-column">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-input email-input'}}) }}
                </div>
                <div class="form-column">
                    {{ form_row(registrationForm.plainPassword, {
                        'label': 'Mot de passe',
                        'attr': {'class': 'form-input'}
                    }) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    {{ form_row(registrationForm.name, {'attr': {'class': 'form-input'}}) }}
                    {{ form_row(registrationForm.allergen, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-column">
                    {{ form_row(registrationForm.firstname, {'attr': {'class': 'form-input'}}) }}
                </div>
            </div>

            <button type="submit" class="btn">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
