<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="signupModalBody">
                <div id="registration-form">
{#                    {{ form_start(registrationForm) }}#}
{#                    {{ form_widget(registrationForm.name) }}#}
{#                    {{ form_widget(registrationForm.firstname) }}#}
{#                    {{ form_widget(registrationForm.email) }}#}
{#                    {{ form_widget(registrationForm.plainPassword, {#}
{#                        label: 'Mot de passe'#}
{#                    }) }}#}
{#                    {{ form_widget(registrationForm.allergen) }}#}
{#                    {{ form_end(registrationForm) }}#}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">S'inscrire</button>

            </div>
        </div>
    </div>
</div>
