<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><img src={{ asset('media/img/logo.png') }} alt="logo" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_menu_carte') }}">Menu</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="reservation-link" data-toggle="modal" data-target="#reservationModal">Réservation</a>
                </li>
                {% if app.user is not null %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="admin-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                            <div class="dropdown-menu" aria-labelledby="admin-link">
                                <a class="dropdown-item" href="{{ path('app_admin_params') }}">Nombre de places</a>
                                <a class="dropdown-item" href="{{ path('app_hours_params') }}">Gestion horaires</a>
                                <a class="dropdown-item" href="{{ path('app_photos') }}">Uploader une photo</a>
                                <a class="dropdown-item" href="{{ path('app_photos_list') }}">Liste des photos</a>
                                <a class="dropdown-item" href="{{ path('app_add_dish') }}">Ajouter un plat</a>
                                <a class="dropdown-item" href="{{ path('plat_list') }}">Supprimer un plat</a>
                                <a class="dropdown-item" href="{{ path('app_add_menu') }}">Ajouter un menu</a>
                                <a class="dropdown-item" href="{{ path('menus_list') }}">Supprimer un menu</a>
                                <a class="dropdown-item" href="{{ path('app_menu_edit') }}">Ajout de plat aux Menus</a>
                                <a class="dropdown-item" href="{{ path('app_menu_delete_link') }}">Suppresion Plat/Menu</a>
                            </div>
                        </li>

                    {% endif %}
                    <li class="nav-item ml-lg-2 button-circle">
                        <a class="nav-link user-initials" href="#" data-toggle="modal" data-target="#connectedModal">{{ app.user.name|slice(0, 1)|upper ~ app.user.firstname|slice(0, 1)|upper }}</a>
                    </li>
                {% else %}
                    <li class="nav-item ml-lg-2">
                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    <li class="nav-item ml-lg-2">
                        <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
